<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-info cardMinHeight">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-people"></i>
          </div>
          <div class="h4 mb-0">{{alumnosTotal}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Alumnos</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-success cardMinHeight">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-user-following"></i>
          </div>
          <div class="h4 mb-0">{{alumnosActive}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Alumnos Activos</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-warning cardMinHeight">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-fire"></i>
          </div>
          <div class="h4 mb-0">{{modalityActive}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Modalidades</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-primary cardMinHeight">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-pie-chart"></i>
          </div>
          <div class="h4 mb-0">28%</div>
          <small class="text-muted text-uppercase font-weight-bold">Returning Visitors</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-danger cardMinHeight">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speedometer"></i>
          </div>
          <div class="h4 mb-0">5:34:11</div>
          <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-info cardMinHeight">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speech"></i>
          </div>
          <div class="h4 mb-0">972</div>
          <small class="text-muted text-uppercase font-weight-bold">Comments</small>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
