<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-user"></i> Tipos de Modalidades
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-8">
          <div *ngFor="let alert of listaAlertas">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">
              {{ alert.msg }}
            </alert>
          </div>
        </div>
        <!-- 
          <div class="col-sm-5">
          <h4 class="card-title mb-0">Usuarios</h4>
          <div class="small text-muted">Todos los usuarios registrados</div>
        </div>
        -->
        <!--/.col-->
        <div class="col-sm-4 d-md-block mb-2">
          <button type="button" class="btn btn-success float-right" (click)="modalNew.show(); limpiarAlerts()"><i
              class="icon-user-follow"></i> Nuevo
            Tipo Modalidad</button>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-outline mb-0">
          <thead class="tableBackground">
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Estado</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tipoModality of tipoModalitys">
              <td>{{ tipoModality.type }}</td>
              <td>{{ tipoModality.price | currency }}</td>
              <td *ngIf="tipoModality.state">Activo</td>
              <td *ngIf="!tipoModality.state">Inactivo</td>
              <td class="text-center">
                <button type="button" class="btn btn-info btn-sm"
                  (click)="modalInfo.show(); loadInfo(tipoModality)">Info</button>
                <button type="button" class="btn btn-warning btn-sm"
                  (click)="modalEdit.show(); limpiarAlerts(); loadInfo(tipoModality)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="modalDelete.show()"
                  (click)="deleteItem(tipoModality)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar-->
<div bsModal #modalEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Tipo Modalidad</h4>
        <button type="button" class="close" (click)="modalEdit.hide()" aria-label="Close" #closeEditModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" #editForm="ngForm">
          <div class="form-group">
            <label for="EditNombre">Nombre</label>
            <input type="text" class="form-control" id="EditNombre" placeholder="Ingresa el nombre.." name="EditNombre"
              #EditNombre="ngModel" [(ngModel)]="tipoModalityInfo.type" required pattern="[a-zA-Z ]*" maxlength="50"
              [class.is-invalid]="!EditNombre.valid && EditNombre.touched">
            <div class="invalid-feedback">
              Por favor ingresa informacion valida.
            </div>
          </div>
          <div class="form-group">
            <label for="EditPrecio">Precio</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" min="0.00" max="10000.00" step="1.00" class="form-control" id="EditPrecio"
                  placeholder="Ingresa el precio.." name="EditPrecio" #EditPrecio="ngModel" [(ngModel)]="tipoModalityInfo.price"
                  required maxlength="7" pattern='[0-9]+' [class.is-invalid]="!EditPrecio.valid && EditPrecio.touched">
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
                <div class="invalid-feedback">
                  Por favor ingresa informacion valida.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="selectEstado">Estado</label>
            <select id="selectEstado" name="selectEstado" class="form-control" name="state" #state="ngModel"
              [(ngModel)]="tipoModalityInfo.state" required [class.is-invalid]="!state.valid">
              <option [ngValue]="true">Activo</option>
              <option [ngValue]="false">Inactivo</option>
            </select>
            <div class="invalid-feedback">
              Por favor ingresa informacion valida.
            </div>
          </div>
          <alert type="danger" *ngIf="status == 'err' && message">
            {{message}}
          </alert>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalEdit.hide()">Cerrar</button>
        <button type="button" class="btn btn-warning" (click)="update()" [disabled]="!editForm.form.valid">Guardar
          cambios</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!-- Modal Info-->
<div bsModal #modalInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalInfoLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Información Tipo Modalidad</h4>
        <button type="button" class="close" (click)="modalInfo.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bd-example">
          <dl class="row">
            <dt class="col-sm-2">Nombre:</dt>
            <dd class="col-sm-10">
              <p> {{ tipoModalityInfo.type }}</p>
            </dd>
            <dt class="col-sm-2">Precio:</dt>
            <dd class="col-sm-10">
              <p> {{ tipoModalityInfo.price | currency }}</p>
            </dd>
            <dt class="col-sm-2">Estado:</dt>
            <dd class="col-sm-10">
              <p *ngIf="tipoModalityInfo.state"> Activo </p>
              <p *ngIf="!tipoModalityInfo.state"> Inactivo </p>
            </dd>
          </dl>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalInfo.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!-- Modal Agregar-->
<div bsModal #modalNew="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalNewLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Tipo Modalidad</h4>
        <button type="button" class="close" (click)="modalNew.hide()" aria-label="Close" #closeNewModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" #newForm="ngForm">
          <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" id="Nombre" placeholder="Ingresa el nombre.." name="name"
              #name="ngModel" [(ngModel)]="tipoModalityNew.type" required pattern="[a-zA-Z ]*" maxlength="50"
              [class.is-invalid]="!name.valid && name.touched">
            <div class="invalid-feedback">
              Por favor ingresa informacion valida.
            </div>
          </div>
          <div class="form-group">
            <label for="Apellido">Precio</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" min="0.00" max="10000.00" step="1.00" class="form-control" id="precio"
                  placeholder="Ingresa el precio.." name="precio" #precio="ngModel" [(ngModel)]="tipoModalityNew.price"
                  required maxlength="7" pattern='[0-9]+' [class.is-invalid]="!precio.valid && precio.touched">
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
                <div class="invalid-feedback">
                  Por favor ingresa informacion valida.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="selectEstado">Estado</label>
            <select id="selectEstado" name="selectEstado" class="form-control" name="state" #state="ngModel"
              [(ngModel)]="tipoModalityNew.state" required [class.is-invalid]="!state.valid">
              <option [ngValue]="true">Activo</option>
              <option [ngValue]="false">Inactivo</option>
            </select>
            <div class="invalid-feedback">
              Por favor ingresa informacion valida.
            </div>
          </div>
          <alert type="danger" *ngIf="status == 'err' && message">
            {{message}}
          </alert>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalNew.hide()">Cerrar</button>
          <button type="button" class="btn btn-success" (click)="add()" [disabled]="!newForm.form.valid">Agregar
            Tipo Modalidad</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div bsModal #modalDelete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
  aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Tipo Modalidad</h4>
        <button type="button" class="close" (click)="modalDelete.hide()" aria-label="Close" #closeDeleteModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Seguro quieres eliminar el tipo de modalidad: {{ tipoModalityDelete.type }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalDelete.hide()">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Eliminar
          Tipo Modalidad</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
